@font-face {
    font-family: "icons";
    src: url("./icons.eot?cd71d4eeb29d4148c1cdfc6b684d1bf6#iefix") format("embedded-opentype"),
url("./icons.woff2?cd71d4eeb29d4148c1cdfc6b684d1bf6") format("woff2"),
url("./icons.woff?cd71d4eeb29d4148c1cdfc6b684d1bf6") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bin:before {
    content: "\f101";
}
.icon-bubble:before {
    content: "\f102";
}
.icon-bubbles:before {
    content: "\f103";
}
.icon-checked:before {
    content: "\f104";
}
.icon-compass:before {
    content: "\f105";
}
.icon-contrast:before {
    content: "\f106";
}
.icon-exit:before {
    content: "\f107";
}
.icon-fire:before {
    content: "\f108";
}
.icon-heart:before {
    content: "\f109";
}
.icon-home:before {
    content: "\f10a";
}
.icon-minus:before {
    content: "\f10b";
}
.icon-notification:before {
    content: "\f10c";
}
.icon-plus:before {
    content: "\f10d";
}
.icon-user:before {
    content: "\f10e";
}
.icon-users:before {
    content: "\f10f";
}
