@font-face {
    font-family: "icons";
    src: url("./icons.eot?e7b55dfd97b429ef973cc841d45f452c#iefix") format("embedded-opentype"),
url("./icons.woff2?e7b55dfd97b429ef973cc841d45f452c") format("woff2"),
url("./icons.woff?e7b55dfd97b429ef973cc841d45f452c") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bubble:before {
    content: "\f101";
}
.icon-bubbles:before {
    content: "\f102";
}
.icon-contrast:before {
    content: "\f103";
}
.icon-fire:before {
    content: "\f104";
}
.icon-home:before {
    content: "\f105";
}
.icon-notification:before {
    content: "\f106";
}
.icon-user:before {
    content: "\f107";
}
